
<div id="wrapper">
		<div id="page-content-wrapper">
			<%if @result_count.to_i == 1%>
				<div class="single_result">
					<div class="cover_result">
						<img src="<%=@returned_books["best_book"]["image_url"]%>">
					</div>
					<div class="description_result">
						<p>
							<strong>Title: </strong><%="#{@returned_books["best_book"]["title"]}" %> |  
							<strong>Author: </strong><%="#{@returned_books["best_book"]["author"]["name"]}" %> 
						</p>
						<p>
							<strong>Goodreads Reviews: </strong><%="#{@returned_books["text_reviews_count"]}" %> | 
							<strong>Avg. Rating: </strong><%="#{@returned_books["average_rating"]}" %> |
							<% @pub_date = "#{@returned_books["original_publication_day"]}/#{@returned_books["original_publication_month"]}/#{@returned_books["original_publication_year"]}" %>
							<strong>Publication Year: </strong><%=@pub_date%>
								<p>
						<%= button_to "Select this Title", {class: "btn btn-default btn-md"}, reviews_path, :method => "post", :params => {
								:choice => "#{@returned_books["best_book"]["id"]}",
								:img => "#{@returned_books["best_book"]["image_url"]}",
								:title =>"#{@returned_books["best_book"]["title"]}" ,
								:author => "#{@returned_books["best_book"]["author"]["name"]}",
								:date => "#{@pub_date}",
								:gr_reviews_count => "#{@returned_books[number]["text_reviews_count"]}"}, class: "btn btn-default btn-md"
							%> 	
					</div>
				</div>
			<%else%>	
				<%number = 1%>
				<%@result_count.to_i.times do |number| %>
				<div class="single_result">
					<div class="cover_result">
						<img src="<%=@returned_books[number]["best_book"]["image_url"]%>">
					</div>
					<div class="description_result">
						<p>
							<strong>Title: </strong><%="#{@returned_books[number]["best_book"]["title"]}" %> |  
							<strong>Author: </strong><%="#{@returned_books[number]["best_book"]["author"]["name"]}" %> 
						</p>
						<p>
							<strong>Reviews: </strong><%="#{@returned_books[number]["text_reviews_count"]}" %> | 
							<strong>Avg. Rating: </strong><%="#{@returned_books[number]["average_rating"]}" %> |
							<% @pub_date = "#{@returned_books[number]["original_publication_day"]}/#{@returned_books[number]["original_publication_month"]}/#{@returned_books[number]["original_publication_year"]}" %>
							<strong>Publication Year: </strong><%=@pub_date%>
								<p>
						<%= button_to "Select this Title", reviews_path, :method => "post", :params => {
								:choice => "#{@returned_books[number]["best_book"]["id"]}",
								:img => "#{@returned_books[number]["best_book"]["image_url"]}",
								:title =>"#{@returned_books[number]["best_book"]["title"]}" ,
								:author => "#{@returned_books[number]["best_book"]["author"]["name"]}",
								:date => "#{@pub_date}",
								:gr_reviews_count => "#{@returned_books[number]["text_reviews_count"]}"}, class: "btn btn-default btn-md"
							%> 	
					</div>
					</div>
					<%end%>
				</div>
			<%end%>
		</div>
	</form>
</div>
