<!DOCTYPE html>
<html>
<head>
  <title>Reader Reviews Tool</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="icon" href="https://imgur.com/a/k4Qjq">
  <%= csrf_meta_tags %>
      <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <script src="https://unpkg.com/compromise@latest/builds/compromise.min.js"></script> -->
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href="//fonts.googleapis.com/css?family=Lato:300" rel="stylesheet" type="text/css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>
  <link href="/assets/simple-sidebar.css" rel="stylesheet">
  <link rel="javascript" src="./app/assets/javascripts/stupidtable.js"></script>
  <link rel="javascript" src="./app/assets/javascripts/stupidtable.min.js"></script>
  <!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-59857905-2"></script>

<!-- EXPORT TO EXCEL-->
<script src="/assets/table2excel.js"></script>

<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());

  gtag('config', 'UA-59857905-2');
</script>

</head>

<body>

<div class="container-fluid">
		 <div class="header">
      <img class="logo" src="https://i.imgur.com/n0TePKO.png" />
	    <div class="title">Reader Reviews Dashboard</div>
        <div class="login">
          <% if user_signed_in? %>
          <div class="dropdown">
              <button class="dropbtn">Account</button>
                <div class="dropdown-content">
                  <%if current_user && current_user.email == "rhpg@prh.com"%>
                  <a id="adminLink">Admin</a>
                  <%end%>
                <%= link_to "Change your password", edit_user_registration_path %>  
                <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>    
                </div>
            </div>
          <% else %>
            <%= link_to('Login', new_user_session_path)  %>  
          <% end %>
        </div>
	 </div>
<div class="mainContainer">
 <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
<!--               <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"></a> -->
              <div class="chosenTitle">
                      <div class="bookCover">
                          <%if @img%>
                            <img id="chosen_cover" src="<%=@img%>">
                          <%else%>
                           <span style="position:relative;left: 15px; top: 25px">No Title Selected</span> 
                          <%end%>
                      </div>
                      <div class="bookDescription">
                            <p id="chosenTitle" style="font-weight:bold" ><%=@title%></p>
                            <p id="chosenAuthor"><%=@author%></p> 
                      </div>
              </div>
              <div style="border: 1px solid #e9e9e9; line-height: initial;"> 
                <div class="findISBN">
                   <%= form_tag "/search", method: "GET" do |f| %>
                    <%= text_field_tag(:search_books, params[:search_books], :placeholder => 'Search for a book') %>
                    <%= submit_tag "Search", class: "btn btn-default btn-md" %>
                    <% end %>
                </div>
              </div>
                      <!-- Nav tabs -->
              <div role="tabpanel" >
                <ul id="myTab" style="list-style-type:none; padding:0px" role="tablist">
                       <!-- Widgets tabs-->
                    <li role="presentation" class="active"><a id="reviewsTab" href="#reviews" aria-controls="reviewsTab" role="tab" data-toggle="tab">Summary</a></li>
                    <li role="presentation"><a id="wordCloudTab" href="#wordCloudPanel" aria-controls="wordCloudTab" role="tab" data-toggle="tab">Word Clouds</a></li>

                     <li role="presentation"><a id="textual_analysis_tab" href="#textualAnalysisPanel" aria-controls="textual_analysis_tab" role="tab" data-toggle="tab">Top Phrases</a></li>

                    <li role="presentation"><a id="themesTab" href="#themes" aria-controls="themesTab" role="tab" data-toggle="tab">Keywords (Beta)</a></li>
                   
                    <li style="border-bottom: 1px solid #e9e9e9;" role="presentation"><a id="shelvesTab" href="#shelves" aria-controls="shelvesTab" role="tab" data-toggle="tab">Goodreads Shelves</a></li>
                        <!-- User lists, recents tabs-->
                    <% if @monthly_title_max_reached == true %>
                          <li role="presentation"><a id="recent_titles_tab" href="#recent_titles" aria-controls="recent_titles_tab" role="tab" data-toggle="tab">Recent Titles (<%=@monthly_titles_pulled%> this month)</a></li>
                          <li style="color:red; hover:none">* Monthly Title Limit Reached</li>
                    <% else %>
                           <li role="presentation"><a id="recent_titles_tab" href="#recent_titles" aria-controls="recent_titles_tab" role="tab" data-toggle="tab">Recent Titles (<%=@monthly_titles_pulled%> this month)</a></li>
                    <% end %>


                    </ul>
              </div>
          </ul>
        </div>
<!-- /#sidebar-wrapper -->

<%= yield %>

</div>
</body>
</html>
